# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.venv/
venv/

# IDE
.idea/
.vscode/

# Environment
.env

# Logs
logs/
*.log

# Spark
metastore_db/
spark-warehouse/

# Checkpoints
streaming/checkpoints/

# OS
.DS_Store
Thumbs.db

# Raw datasets
datasets/raw/

# Python cache
__pycache__/
*.pyc

# Virtual Environment
.venv/

# IDE
.idea/